<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<script type="text/javascript">
    var appName = '{{ctx}}/';
</script>
<script src="{{ctx}}/js/requireConfig.js"></script>
<script data-main="{{ctx}}/views/js/index.js" src="{{ctx}}/js/require.js"></script>

    <h1>h</h1>
        username:<input name="username" id="username" type="text">
        password:<input name="password" id="password" type="text">
        <button value="login" id="login">login</button><br>
    <button value="发送" id="sendGroup">send</button>
</body>
</html>